spring:
  jms:
    pub-sub-domain: true
  datasource:
    url: jdbc:mysql://119.3.49.192:3306/light?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull
    username: root
    password: 1Believe#
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
  rabbitmq:
    host: 122.112.229.195
    port: 5682
  activemq:
    broker-url: failover://tcp://119.3.49.192:61616
    packages:
      trust-all: true
mybatis:
  mapper-locations: classpath:mapper/*.xml
#logging:
#    level:
#      root: info
#    file: log/blt.log
my:
  rabbit:
    queue1: tpad-blt-console-queue
    queue2: tpad-blt-log-queue
debug: false
server:
  port: 9002




